/* src/styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; /* Ensure scrolling is enabled */
}

#root {
    height: 100%;
}

div {
    padding: 20px;
}

nav {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #333;
}
